/*
 * Globals
 */
@font-face {
    font-family: uLT;
    src: url(../assets/UniversLTStd-Light.otf);
}

body {
  font-family: "uLT", Helvetica, Arial, sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "uLT", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
/*
 * Body
 */
 body {
  background: #FCFAFB;
 }

/*
 * Header
 */

#header {
  background: -webkit-linear-gradient(top, #009dda 88%, #0974A1);
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


#header .region-header > .inner {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1200px;
  position: relative;
  height: 48px;
  padding: 10px;
}

#header .region-header {
  position: relative;
}

#header .region-header .be-logo-wrapper {
  float: left;
  margin-bottom: 0;
  padding-right: 26px;
  z-index: 1;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
  /*position: relative;*/
  max-width: 1200px;
  background: #FFFFFF;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 4px 0 4px -4px rgba(0, 0, 0, 0.4), -4px 0 4px -4px rgba(0, 0, 0, 0.4);
  /*margin: 0 auto;*/
}
.blog-post-title {
  font-size: 20px;
}

.banner {
  margin: 0 auto;
  max-width: 800px;
  /*max-height: 205px;*/
  position: relative;
  z-index: 1050;
}
.row {
  margin: 0 auto;
}
/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 16px;
  line-height: 1.5;
  border-right: 1px inset rgba(0,0,0,0.1);
}


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 0 15px;
  margin: 0 -15px 15px;
}
.learn-more {
  position: relative;
  background: url("../assets/learnmore.svg") 50% no-repeat;
  /*background-size: cover;*/
  height: 17rem;
}

.learn-more > button {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
  width: 23.5rem;
  height: 3.6rem;
  border-width: 1px
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; 
}

/*
 * button
 */
.trans {
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.center-block:hover,
.center-block:active,
.center-block.active,
.center-block:focus,
.center-block:active:focus,
.center-block.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.55);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.55);
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 15px;
}
.content{
  margin: 0 .5rem;
}
.content > p > a {
  color: #0088FF;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
@media (max-width: 979px) {
  #header .region-header .be-logo-wrapper {
    /*margin-left:5px;*/
    position: absolute;
    top: 12px;
    width: initial;
  }
  .learn-more > button {
    position: absolute;
    bottom: 3.5rem;
    left: 3rem;
    width: 15rem;
    height: 2.6rem;
    border-width: 1px
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
  }
}

@media (max-width: 767px) {
  #header .region-header .be-logo-wrapper {
    left:0;
    margin: auto;
    padding-right: 0;
    right: 0;
    width: 147px;
  }
  .learn-more {
    position: relative;
    background: url("../assets/learnmore.svg") 50% no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100rem;
    margin: 0 auto;
  }
  .learn-more > button {
    margin-left: 15%;
    width: 60%;
    height: 2.6rem;
    border-width: 1px
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
  }
}

#header .region-header .be-logo-wrapper .be-logo img {
  height: 24px;
  width: 147px;
}

@media (min-width: 980px) {
  #header .region-header .be-logo-wrapper .be-logo img {
    position:relative;
    top: 1px;
  }
}
